<!DOCTYPE html>
<html>
    <%- include('partials/head.ejs',{title: 'Palyak'})%>
    <body>
        <h1>HELYESS</h1>
        <button>
            <a href="<%=valtozoutvonal%>">katt vissza</a>
        </button>
    </body>
</html>