<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" >
        <meta http-equiv="X-UA-Compatible" content="IE=edge" >
        <title>Palyak</title>
        <meta name="description" content="" >
        <meta name="viewport" content="width=device-width, initial-scale=1" >
        <link rel="stylesheet" href="specPalya.css" >
    </head>
  <h2>Kepek</h2>
  <div>
    <%if(fenykep.length != 0){%> <% fenykep.forEach((kep) =>{%>
    <div class="image-wrapper">
    <img src="uploadDir/<%=kep.files%>" alt="image" />
  </div>
    <%});%> <%} else {%>
    <p>Nincs jelenleg elerheto kepunk az on szamara</p>
    <%}%>
  </div>
  <a href="/vissza"><button>Vissza</button></a>
  <script src="palyaSpecScripts.js"></script>
</html>
