<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" >
        <meta http-equiv="X-UA-Compatible" content="IE=edge" >
        <title>BestSports</title>
        <meta name="description" content="" >
        <meta name="viewport" content="width=device-width, initial-scale=1" >
        <link rel="stylesheet" href="palya.css" >
    </head>
  <header>
    <h1>Block <%= username %></h1>
    <nav>
      <ul>
        <li><a href="/adminview">Vissza</a></li>
      </ul>
    </nav>
  </header>
  <body>
    
      <table class="palyakTablazat">
        <%if(palyak.length != 0){%>
            <tr><th id="myTableRow">Nev</th><th>Torles</th></tr>
            <% palyak.forEach((palya) =>{%>
                <tr id="<%= palya.felhID%>"><td style="color: aliceblue;"><%= palya.username%></td><td> <a href="/torolFelhasznalo?azonosito=<%= palya.username%>">Torol</a> </td></tr>
            <%});%>
        <%} else {%>
            <h1>Nincs jelenleg elerheto palyank az on szamara</h1>
        <%}%>
      </table>
      <script src="scripts.js">
      </script>
  </body>
</html>
